<h1>My tasks</h1>
<span>Hi! Your dragon name is: </span>
<%= @user.name.upcase %>
<br>
<% @cards.each do |c| %>
<div class="card">
    <p>Id: <%= c.id%></p>
    <p>Title: <%= c.title%></p>
    <p>Text: <%= c.text%></p>
    <%= link_to 'Edit card', edit_user_card_path(c.id)%>
    <%= link_to 'Delete card', user_card_path(@user.id, c.id), method: :delete, data: { confirm: "Are you sure?" }%>
</div>
<% end %>
<br>
<%= link_to 'New card', new_user_card_path(@user.id) %>

<br>
<%= link_to 'View All Users', users_index_path%>